/**
 * Variables
 */
$base-unit:             24px;

// Breakpoints
$max-width:             960px;
$l-small:               321px;
$l-medium:              768px;
$l-large:               980px;

// Font Sizes
$f-xlarge:              80px;
$f-large:               46px;
$f-medium:              36px;
$f-regular:             20px;
$f-base:                16px;
$f-small:               14px;

// Colours
$c-brand:               rgba(255, 255, 255, 0.2);
$c-dark:                #111;
$c-light:               #fff;
$c-grey:                #f0efef;