{% extends "base.twig" %}

{% block content %}
<div class="boxed text-center">
    <img src="" alt="">
    <h2>Ohh dear. <br>It's looks like you're a bit lost.</h2>
    <p>Why don't you checkout our some of our <a href="/">latest trips.</a></p>
    <p><a href="/" class="btn">View latest trips.</a></p>
</div>
{% endblock %}