/**
 * richardpullinger.com
 */
/**
 * Variables
 */
/**
 * Mixins
 */
/*
Super simple Mixin for the responsive stuff
 */
/**
 * BASE
 */
* {
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  max-width: 1200px; }

h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dl, blockquote, p, address, table, fieldset, figure, pre, .g {
  margin-top: 0;
  margin-bottom: 24px; }
  h1:last-child, h1.last, h2:last-child, h2.last, h3:last-child, h3.last, h4:last-child, h4.last, h5:last-child, h5.last, h6:last-child, h6.last, hgroup:last-child, hgroup.last, ul:last-child, ul.last, ol:last-child, ol.last, dl:last-child, dl.last, blockquote:last-child, blockquote.last, p:last-child, p.last, address:last-child, address.last, table:last-child, table.last, fieldset:last-child, fieldset.last, figure:last-child, figure.last, pre:last-child, pre.last, .g:last-child, .g.last {
    margin-bottom: 0; }

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto; }

a img {
  border: 0; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px; }

svg {
  max-width: 100%;
  height: auto; }

.boxed {
  max-width: 35em;
  margin: 0 auto; }

/**
 * TYPOGRAPHY
 */
body {
  font-family: "proxima-nova", Helvetica, san-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #111;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }

a {
  color: currentColor;
  text-decoration: none; }
  a:hover {
    color: currentColor; }

.text-center {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  line-height: 1.1;
  font-family: "leitura-news", Georgia, serif; }

h1 {
  font-size: 46px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 16px; }

blockquote {
  margin: 24px;
  line-height: 1.3;
  font-family: "leitura-news", Georgia, serif;
  font-size: 36px;
  font-style: italic;
  text-align: center; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 0.8em; }

sub {
  top: 0.4em; }

hr {
  border: 0;
  border-bottom: 1px solid #aaa;
  margin: 0 auto;
  max-width: 42rem; }

/**
 * Grid
 */
.g {
  margin-top: -24px;
  margin-left: -24px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.g--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.gi {
  padding-top: 24px;
  padding-left: 24px;
  display: block; }
  @media (min-width: 321px) {
    .gi {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%; } }

@media (min-width: 321px) {
  .gi--one-third {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%; } }

/**
 * Widths
 */
.one-half {
  width: 50%; }

.one-third {
  width: 33.33333%; }

.two-thirds {
  width: 66.66666%; }

.one-quarter {
  width: 25%; }

.three-quarters {
  width: 75%; }

.one-fifth {
  width: 20%; }

.two-fifths {
  width: 40%; }

.three-fifths {
  width: 60%; }

.four-fifths {
  width: 80%; }

.one-sixth {
  width: 16.66666%; }

.two-sixths {
  width: 33.33333%; }

.four-sixths {
  width: 66.66666%; }

.five-sixths {
  width: 83.33333%; }

.btn {
  display: inline-block;
  padding: 12px;
  font-size: 16px;
  border: 2px solid;
  font-weight: 700;
  line-height: 1;
  font-family: "leitura-news", Georgia, serif;
  background: #fff; }

.gallery-wrap {
  margin-bottom: 24px; }
  .gallery-wrap.gallery-size-medium {
    max-width: 35em; }
  .gallery-wrap.gallery-size-large {
    max-width: 42rem; }
  .gallery-wrap.gallery-size-full {
    max-width: 100%; }

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -12px;
  margin-top: -12px; }
  @media (min-width: 321px) {
    .gallery {
      margin-left: -24px;
      margin-top: -24px; } }

[class*="gallery-columns-"] {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

[class*="gallery-columns-9"] {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.gallery-item {
  margin: 0;
  padding-left: 12px;
  padding-top: 12px; }
  @media (min-width: 321px) {
    .gallery-item {
      padding-left: 24px;
      padding-top: 24px; } }
  @media (min-width: 321px) {
    .gallery-columns-2 .gallery-item {
      width: 50%; } }
  @media (min-width: 321px) {
    .gallery-columns-3 .gallery-item {
      width: 33.333%; } }
  @media (min-width: 321px) {
    .gallery-columns-4 .gallery-item {
      width: 25%; } }

/**
 * HEADER
 */
.header {
  padding-top: 24px;
  text-align: center;
  position: relative;
  margin-bottom: 48px; }
  .header__logo {
    font-size: 36px;
    font-family: "leitura-news", Georgia, serif;
    font-weight: 700;
    margin-bottom: 12px;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig"; }
    @media (min-width: 768px) {
      .header__logo {
        font-size: 36px; } }

.main-nav a {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px; }

.footer {
  padding: 24px;
  color: #ccc;
  text-align: center;
  background: #fff; }
  .footer__section {
    margin-bottom: 24px;
    margin-left: 24px; }
    .footer__section h3 {
      font-weight: bold;
      text-transform: uppercase;
      font-family: "proxima-nova", Helvetica, san-serif;
      font-size: 14px;
      margin-bottom: 6px;
      color: #eee; }
    .footer__section ul {
      list-style: none;
      padding: 0; }
    .footer__section:first-child {
      -webkit-box-flex: 2;
      -webkit-flex: 2;
          -ms-flex: 2;
              flex: 2;
      margin-left: 0; }
  .footer__legal {
    font-weight: bold;
    text-transform: uppercase;
    font-family: "proxima-nova", Helvetica, san-serif;
    font-size: 14px; }
    .footer__legal p {
      margin-bottom: 0; }
  .footer__logo {
    text-transform: lowercase;
    font-size: 22px;
    font-family: "leitura-news", Georgia, serif;
    font-weight: 700;
    margin-bottom: 12px;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig"; }
  .footer__explore {
    text-align: center; }
  .footer__countries {
    font-size: 36px;
    font-family: "leitura-news", Georgia, serif;
    font-weight: 700;
    margin-bottom: 48px;
    line-height: 1.2; }
    .footer__countries a {
      color: #fff; }
    .footer__countries h3 {
      font-weight: bold;
      text-transform: uppercase;
      font-family: "proxima-nova", Helvetica, san-serif;
      font-size: 14px;
      margin-bottom: 6px;
      color: rgba(255, 255, 255, 0.6); }

.countries {
  text-align: center;
  font-size: 36px;
  font-family: "leitura-news", Georgia, serif;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 1.1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }
  .countries > * {
    display: inline-block; }

.page {
  max-width: 42em;
  margin: 0 auto; }

.trip-teaser {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 48px; }
  .trip-teaser__image {
    margin-bottom: 12px; }
  .trip-teaser__location {
    font-size: 46px;
    margin-bottom: 6px; }
  .trip-teaser__country {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "proxima-nova", Helvetica, san-serif;
    font-size: 14px;
    margin-bottom: 6px; }
  .trip-teaser__date {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: bold; }

.trips {
  margin-bottom: 48px; }

.trip {
  padding-left: 12px;
  padding-right: 12px; }
  @media (min-width: 321px) {
    .trip {
      padding-left: 24px;
      padding-right: 24px; } }
  .trip__header {
    text-align: center;
    margin-bottom: 72px;
    font-size: 14px; }
    @media (min-width: 321px) {
      .trip__header {
        margin-bottom: 144px; } }
  .trip__info-wrapper {
    position: relative;
    max-width: 42em;
    margin: 0 auto; }
  .trip__info {
    z-index: 100;
    position: relative;
    text-shadow: 1px 1px #fff, 1px -1px #fff, -1px -1px #fff, -1px 1px #fff; }
  .trip__country-outline {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
        -ms-transform: translate(-50%, 20%);
            transform: translate(-50%, 20%);
    opacity: 1;
    width: 100%;
    pointer-events: none;
    height: 0;
    padding-bottom: 100%; }
    .trip__country-outline svg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .trip__country-outline svg path, .trip__country-outline svg line {
      stroke: #000;
      stroke-width: 20px; }
  .trip__location {
    font-size: 46px;
    margin-bottom: 6px;
    padding: 0 5px;
    line-height: 1; }
    @media (min-width: 321px) {
      .trip__location {
        font-size: 80px; } }
  .trip__country {
    font-weight: bold;
    text-transform: uppercase;
    font-family: "proxima-nova", Helvetica, san-serif;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1;
    font-size: 14px; }
    @media (min-width: 321px) {
      .trip__country {
        font-size: 20px; } }
  .trip__date {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 14px; }
    @media (min-width: 321px) {
      .trip__date {
        font-size: 20px; } }
  .trip__strapline {
    font-size: 20px; }
  .trip__content {
    margin: 0 auto; }
    .trip__content > * {
      max-width: 42rem;
      margin-left: auto;
      margin-right: auto;
      font-size: 18px; }
    .trip__content h3 {
      font-size: 24px;
      margin-top: 96px; }
  .trip__image {
    padding: 0; }
    .trip__image--thumbnail {
      max-width: 35rem; }
    .trip__image--medium {
      max-width: 42rem; }
    .trip__image--large {
      max-width: 42rem; }
    .trip__image--full {
      max-width: 100%; }
  .trip__image-caption {
    color: #aaa;
    font-size: 14px;
    margin-top: 6px; }
  .trip blockquote {
    max-width: 47rem; }
  .trip__footer-meta {
    text-align: center;
    color: #aaa;
    padding-top: 24px;
    padding-bottom: 24px;
    max-width: 32rem;
    position: relative;
    margin-top: 96px;
    margin-bottom: 96px;
    font-style: italic;
    font-style: 16px; }
    .trip__footer-meta:before, .trip__footer-meta:after {
      content: '';
      width: 10em;
      border-top: 2px solid;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    .trip__footer-meta:after {
      top: auto;
      bottom: 0; }
  .trip footer {
    margin-top: 48px; }
  .trip__footer {
    max-width: 42em;
    margin: 0 auto; }

.trip-meta {
  border: 2px solid;
  background: #fff;
  color: #000; }
  .trip-meta:hover {
    opacity: 1; }
  .trip-meta__title {
    font-weight: bold;
    text-transform: uppercase;
    font-family: "proxima-nova", Helvetica, san-serif;
    font-size: 14px;
    margin-bottom: 0;
    border-bottom: 2px solid;
    padding: 12px;
    line-height: 1; }
  .trip-meta__image {
    border-bottom: 2px solid; }
  .trip-meta__box {
    border-bottom: 2px solid;
    padding: 12px; }
  .trip-meta__location {
    margin-bottom: 6px;
    font-family: "leitura-news", Georgia, serif;
    font-size: 36px;
    margin-bottom: 0;
    line-height: 1.1;
    font-weight: bold;
    word-break: break-word; }
  .trip-meta__country {
    font-weight: bold;
    text-transform: uppercase;
    font-family: "proxima-nova", Helvetica, san-serif;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.1;
    font-weight: bold; }
  .trip-meta__date {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    padding: 12px; }
