/**
 * BASE
 */


// Border Box all the things
*{
    box-sizing: border-box;
}




body {
    margin: 0;
    padding: 0;
    background-color: $c-light;
}




// Shared vertical rhythm - csswizardry.com/2012/06/single-direction-margin-declarations
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote,p,address,
table,
fieldset,figure,
pre,
.g{
    margin-top: 0;
    margin-bottom: $base-unit;

    &:last-child,
    &.last{ // remove from last if required
       margin-bottom: 0;
    }
}




// Makes images responsive by default
img{
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}




// Remove the border round images in IE
a{
    img{
        border: 0;
    }
}




.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 $base-unit;
}


svg{
    max-width: 100%;
    height: auto;
}