.gallery-wrap{
    margin-bottom: $base-unit;

    &.gallery-size-medium{ max-width: 35em; }
    &.gallery-size-large{ max-width: 47em; }
    &.gallery-size-full{ max-width: 100%; }
}

.gallery{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: -$base-unit;
    margin-top: -$base-unit;
}

    [class*="gallery-columns-"]{
        flex-wrap: wrap;
    }


    .gallery-item{
        margin: 0;
        padding-left: $base-unit;
        padding-top: $base-unit;

        .gallery-columns-2 &{
            flex: 0 0 50%;
        }

        .gallery-columns-3 &{
            flex: 0 0 33.333%;
        }

        .gallery-columns-4 &{
            flex: 0 0 25%;
        }
    }