/**
 * Grid
 */

.g{
    margin-top: -$base-unit;
    margin-left: -$base-unit;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

    .gi{
        padding-top: $base-unit;
        padding-left: $base-unit;
        display: block;
        flex: 0 0 50%;
    }