/**
 * Grid
 */

.g{
    margin-top: -$base-unit;
    margin-left: -$base-unit;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

    .g--reverse{
        flex-direction: row-reverse;
    }

    .gi{
        padding-top: $base-unit;
        padding-left: $base-unit;
        display: block;
        @include breakpoint($l-small){
            width: 50%;
        }
    }

    .gi--one-third{
        @include breakpoint($l-small){
            width: 50%;
        }

        @include breakpoint($l-medium){
            width: 33.3333%;
        }
    }