.trip-teaser{

    display: flex;
    flex-direction: column;
    margin-bottom: $base-unit * 2;

    &__image{
        margin-bottom: $base-unit / 2;
    }

    &__location{
        font-size: $f-large;
        margin-bottom: $base-unit / 4;
    }

    &__country{
        order: -1;
        font-weight: bold;
        text-transform: uppercase;
        font-family: "proxima-nova", Helvetica, san-serif;
        font-size: $f-small;
        margin-bottom: $base-unit / 4;
    }

    &__strapline{
        //line-height: 1.1;
        //font-family: "leitura-news", Georgia, serif;
    }

    &__date{
        margin-bottom: $base-unit / 2;
        font-size: 12px;
        font-weight: bold;
    }
}


.trips{
    margin-bottom: $base-unit * 2;
}