.trip{

    padding-left: $base-unit / 2;
    padding-right: $base-unit / 2;

    @include breakpoint($l-small){
        padding-left: $base-unit;
        padding-right: $base-unit;
    }

    &__header{
        text-align: center;
        margin-bottom: $base-unit * 3;

        font-size: $f-small;
        @include breakpoint($l-small){
            margin-bottom: $base-unit * 6;
        }
    }

        &__info-wrapper{
            position: relative;
            max-width: 42em;
            margin: 0 auto;
        }

        &__info{
            z-index: 100;
            position: relative;

            text-shadow: 1px 1px #fff,
                        1px -1px #fff,
                        -1px -1px #fff,
                        -1px 1px #fff;

        }

        &__country-outline{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 20%);
            opacity: 1;
            width: 100%;
            pointer-events: none;
            height: 0;
            padding-bottom: 100%;

            svg{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }


            svg path,
            svg line{
                stroke: #000;
                stroke-width: 20px;
            }
        }

        &__location{
            font-size: $f-large;
            @include breakpoint($l-small){
                font-size: $f-xlarge;
            }

            margin-bottom: $base-unit / 4;
            padding: 0 5px;
            line-height: 1;
        }

        &__country{
            font-weight: bold;
            text-transform: uppercase;
            font-family: "proxima-nova", Helvetica, san-serif;
            font-size: $f-base;
            margin-bottom: 0;
            line-height: 1;

            font-size: $f-small;
            @include breakpoint($l-small){
                font-size: $f-regular;
            }
        }

        &__date{
            margin-bottom: $base-unit / 2;
            font-weight: bold;

            font-size: $f-small;
            @include breakpoint($l-small){
                font-size: $f-regular;
            }
        }

        &__strapline{
            font-size: $f-regular;
            // font-weight: bold;
        }


        &__content{
            margin: 0 auto;

            > *{
                max-width: 42rem;
                margin-left: auto;
                margin-right: auto;
                // margin-bottom: $base-unit;
                font-size: 18px;
            }

            h3{
                font-size: 24px;
                margin-top: $base-unit * 4;
            }
        }

        &__image{
            padding: 0;

            &--thumbnail{ max-width: 35rem; }
            &--medium{ max-width: 42rem; }
            &--large{ max-width: 42rem; }
            &--full{ max-width: 100%; }
        }

            &__image-caption{
                color: #aaa;
                font-size: $f-small;
                margin-top: $base-unit / 4;
            }

        blockquote{
            max-width: 47rem;
        }

        &__footer-meta{
            //font-size: $f-small;
            text-align: center;
            color: #aaa;
            padding-top: $base-unit;
            padding-bottom: $base-unit;

            max-width: 32rem;
            position: relative;
            margin-top: $base-unit * 4;
            margin-bottom: $base-unit * 4;
            //font-weight: bold;
            font-style: italic;
            font-style: 16px;

            p{
                // margin-bottom: $base-unit / 2;
            }

            &:before,
            &:after{
                content: '';
                width: 10em;
                border-top: 2px solid;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            &:after{
                top: auto;
                bottom: 0;
            }
        }

        footer{
            //background: #eeeeee;
            // padding: $base-unit;
            margin-top: $base-unit * 2;
            //margin-left: -$base-unit;
            //margin-right: -$base-unit;
            //width: 100vw;
        }

        &__footer{
            max-width: 42em;
            margin: 0 auto;
        }
}