.trip{
    padding-left: $base-unit;
    padding-right: $base-unit;

    &__header{
        text-align: center;
        margin-bottom: $base-unit * 4;
    }

        &__info-wrapper{
            position: relative;
        }

        &__info{
            z-index: 100;
            position: relative;

            text-shadow: 1px 1px #fff,
                        1px -1px #fff,
                        -1px -1px #fff,
                        -1px 1px #fff;
            // -webkit-text-stroke: 1px  #fff;

        }

        &__country-outline{
            position: absolute;
            bottom: 0;
            left: 50%;
            right: 0;
            transform: translate(-50%, 20%);
            opacity: 1;
            width: 100%;
            max-width: 35rem;
            //z-index: -1000;
            pointer-events: none;


            svg path,
            svg line{
                stroke: #000;
                fill: red;
                stroke-width: 20px;
            }
        }

        &__location{
            font-size: $f-xlarge;
            margin-bottom: $base-unit / 4;
            padding: 0 5px;
            line-height: 1;
        }

        &__country{
            font-weight: bold;
            text-transform: uppercase;
            font-family: "proxima-nova", Helvetica, san-serif;
            font-size: $f-base;
            margin-bottom: 0;
            font-size: $f-regular;
            line-height: 1;
        }

        &__date{
            margin-bottom: $base-unit / 2;
            font-weight: bold;
            font-size: $f-regular;
        }

        &__strapline{
            font-size: $f-regular;
            // font-weight: bold;
        }


        &__content{
            margin: 0 auto;

            > *{
                max-width: 35rem;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &__image{
            padding: 0;

            &--thumbnail{ max-width: 35rem; }
            &--medium{ max-width: 35rem; }
            &--large{ max-width: 47rem; }
            &--full{ max-width: 100%; }
        }

            &__image-caption{
                color: #aaa;
                font-size: $f-small;
                margin-top: $base-unit / 4;
            }

        blockquote{
            max-width: 47rem;
        }

        footer{
            margin-top: $base-unit * 2;
            background: #eeeeee;
            padding: $base-unit;
        }

        &__footer{
            max-width: 35em;
            margin: 0 auto;
        }
}