.trip{
    padding-left: $base-unit;
    padding-right: $base-unit;

    &__header{
        text-align: center;
        margin-bottom: $base-unit * 4;
    }

        &__location{
            font-size: $f-xlarge;
            margin-bottom: $base-unit / 4;
        }

        &__country{
            font-weight: bold;
            text-transform: uppercase;
            font-family: "proxima-nova", Helvetica, san-serif;
            font-size: $f-base;
            margin-bottom: $base-unit / 4;
            position: relative;

            &:after{
                content: '';
                background: url(usa.svg) no-repeat top center;
                background-size: contain;
                position: absolute;
                width: 500px;
                height: 500px;
                max-width: 70%;
                left: 50%;
                top: 0%;
                transform: translate(-50%, -20%);
            }
        }

        &__date{
            margin-bottom: $base-unit / 2;
            font-style: italic;
            font-weight: bold;
        }

        &__strapline{}


        &__content{
            margin: 0 auto;

            > *{
                max-width: 35rem;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &__image{
            padding: 0;

            &--thumbnail{ max-width: 35rem; }
            &--medium{ max-width: 35rem; }
            &--large{ max-width: 47rem; }
            &--full{ max-width: 100%; }
        }

            &__image-caption{
                color: #aaa;
                font-size: $f-small;
                margin-top: $base-unit / 4;
            }

        blockquote{
            max-width: 47rem;
        }
}