/**
 * TYPOGRAPHY
 */

// Base text
body{
    font-family: "proxima-nova", Helvetica, san-serif;
    font-size: $f-base;
    line-height: 1.5;
    color: $c-dark;
}




// Standard Links
a{
    color: currentColor;
    text-decoration: none;

    &:hover{
        color: currentColor;
    }
}




// Base Headings
h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0;
    line-height: 1.1;
    font-family: "leitura-news", Georgia, serif;

    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}

h1{ font-size: $f-large; }
h2{ font-size: $f-medium; }
h3{ font-size: $f-base; }
h4{ font-size: $f-base; }
h5{ font-size: $f-base; }
h6{ font-size: $f-base; }



blockquote{
    margin: $base-unit;
    line-height: 1.3;
    font-family: "leitura-news", Georgia, serif;
    font-size: $f-medium;
    font-style: italic;
    text-align: center;
}