/**
 * Widths
 */
.one-half{ width: 50%; }

.one-third{ width: 33.33333%; }
.two-thirds{ width: 66.66666%; }

.one-quarter{ width: 25%; }
.three-quarters{ width: 75%; }

.one-fifth{ width: 20%; }
.two-fifths{ width: 40%; }
.three-fifths{ width: 60%; }
.four-fifths{ width: 80%; }

.one-sixth{ width: 16.66666%; }
.two-sixths{ width: 33.33333%; }
.four-sixths{ width: 66.66666%; }
.five-sixths{ width: 83.33333%; }